#Remove the php extension from the filename
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Set the headers for the restful api

Header always set Access-Control-Allow-Origin http://localhost:3000
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Authorization,
Header always set Access-Control-Allow-Origin "*"
Header always set Acess-Control-Allow-Headers "Origin,X-Requested-With,Content-Type,
Acess-Control-Allow-Origin"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, PATCH, DELETE"